{% extends "base.html" %}

{% block titulo %}
    Gitlab
{% endblock %}

{% block titulo_card %}
    Gotçab Usuários
{% endblock %}

{% block conteudo %}
<div class="table-responsive">
    <table class="table">
        <thead class="thead-black">
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Username</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><img src="{{ user.avatar_url }}" alt="{{ user.name }}"></td>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.state }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}